:root{
    --currentUser: rgb(170, 227, 144);
    --foreignUser: rgb(65, 218, 193);
}

.bubble{
    display: inline-block;
}
.sentbyme{
    background-color: var(--currentUser);
    color: black;
    align-items: center;
    margin-bottom: 3px;
    margin-right: 20vh;

}

.sentbyother{
    color: black;
    background-color: var(--foreignUser);
    margin-bottom: 3px;
    align-items: center;
    margin-left: 20vh;
}

p{
    padding: 16px 26px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    font-weight: 600;
    height: 10vh;
    width: 60vh;
}